.mainLogin {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(37, 37, 37);
}

/* Estilos da parte esquerda */
.leftLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  gap: 20px;
  background-color: var(--text-green-color);
  flex-grow: 1;
}

.leftLogin h3 {
  color: white;
  font-size: 36px;
}

.leftLogin img {
  height: 80vh;
}

/* Estilos da parte direita */
.rightLogin {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.cardUsuario {
  width: 60%;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.cardHeading {
  color: var(--text-green-color);
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.label {
  color: rgb(218, 218, 218);
  margin-bottom: 10px;
  text-align: start;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--green-light-color);
  color: rgb(218, 218, 218);
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.input::placeholder {
  color: rgb(218, 218, 218);
}

.button {
  width: 100%;
  padding: 16px 0;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: var(--green-light-color);
  cursor: pointer;
  font-weight: 800;
  box-shadow: 0px 10px 40px #00000056;
  transition: all 0.5s;
  margin-top: 30px;
}

.button:hover {
  background-color: var(--text-green-color);
  box-shadow: 0px 10px 40px -12px #00879952;
}

/* Media Queries para Responsividade */
@media (max-width: 1100px) {
  .leftLogin {
    display: none; /* Esconder a parte esquerda em telas menores */
  }

  .rightLogin {
    width: 100vw; /* Ocupa toda a largura da tela */
    padding: 20px; /* Adiciona padding para espaçamento */
  }

  .cardUsuario {
    width: 80%; /* Ajusta a largura do card */
  }

  .cardHeading {
    font-size: 36px; /* Reduzir o tamanho da fonte do cabeçalho */
  }
}

@media (max-width: 768px) {
  .mainLogin {
    flex-direction: column; /* Muda para coluna em telas menores */
  }

  .leftLogin,
  .rightLogin {
    width: 100%; /* Ambos ocupam toda a largura */
    flex-grow: 0; /* Não permite que cresçam */
  }

  .leftLogin img {
    height: 50vh; /* Reduz a altura da imagem */
  }

  .cardUsuario {
    width: 90%; /* Aumenta a largura do card */
    padding: 20px; /* Reduz padding do card */
  }

  .textfield {
    margin: 30px 0; /* Reduz a margem vertical */
  }
}

@media (max-width: 480px) {
  .cardHeading {
    font-size: 28px; /* Ajustar ainda mais o tamanho da fonte */
  }

  .button {
    padding: 12px 0; /* Ajustar padding do botão para telas pequenas */
  }
}

/* Responsividade */
/* Estilos gerais para telas pequenas */
@media (max-width: 768px) {
  .mainLogin {
    flex-direction: column; /* Muda a direção para coluna em telas pequenas */
  }

  .leftLogin {
    display: none;
  }
  .rightLogin {
    width: 100vw; /* Ambos ocupam toda a largura */
    flex-grow: 0; /* Não permite que cresçam */
  }

  .leftLogin img {
    height: 50vh; /* Reduz a altura da imagem */
  }

  .cardUsuario {
    width: 90%; /* Aumenta a largura do card */
  }

  .textfield {
    margin: 30px 0; /* Reduz a margem vertical */
  }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
  .cardUsuario {
    padding: 20px 25px; /* Reduz padding do card */
  }

  .button {
    padding: 10px 0; /* Ajusta padding do botão para telas muito pequenas */
  }

  .leftLogin h3 {
    font-size: 24px; /* Ajusta o tamanho da fonte do cabeçalho */
  }

  .label {
    font-size: 14px; /* Reduz o tamanho da fonte das labels */
  }

  .input {
    padding: 10px; /* Ajusta padding dos inputs */
  }
}
