.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--bg-body-color);
  padding-bottom: 36px;
}

.containerProducts {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}
.categoryTitle {
  font-size: 1.5rem;
  margin: 20px 0;
  color: aliceblue;
  text-align: center;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
