.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100vh;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center; /* Centraliza o texto do título */
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s; /* Transição suave para a borda */
}

.input:focus {
  border-color: #007bff; /* Azul para foco */
  outline: none; /* Remove contorno padrão */
}

.button {
  padding: 12px;
  background-color: #007bff; /* Azul */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave para o fundo */
}

.button:hover {
  background-color: #0056b3; /* Cor de fundo escurecida no hover */
}
